body {
    background-color: #e9e4d5;
}

.bg-image-centered {
	background-attachment: fixed;

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}