a {
    text-decoration: none;
    color: #000000;
}

/*
    * TYPES ICONS
*/

.pkmn-container {
    background-color: #dddddd;
    margin: 15px;
    border-radius: 25px;
    border: 10px;
}

.pkmn-img {
    height: calc(10vh + 10vw);
    width: calc(10vh + 10vw);
}

.icon {
    border-radius: 100%;
    height: calc(3vw + 3vh);
    width: calc(3vw + 3vh);
    /* margin: auto; */
    transition: 200ms all;
}

.icon:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}